.alert {
  padding: .75em 1.5em;
  border-radius: $main-radius;
}
.consent_banner {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 1.075rem;
    line-height: 2;
  }
  .close {
    position: unset;
  }
}
