// Common
.sidebar-wrapper,
.sidebar-hamburger-dropdown {
  .sidebar-sections {
    padding-top: 1.75rem;
    row-gap: $sidebar-section-gap;
    .sidebar-section-message-wrapper {
      display: none;
    }
    .sidebar-section-header-wrapper {
      &:hover,
      &:focus,
      &.active {
        background: transparent;
      }
      .sidebar-section-header-collapsable {
        flex-direction: row-reverse;
        justify-content: flex-end;
        color: var(--primary-high);
      }
    }
    .sidebar-section-content {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      row-gap: $sidebar-section-content-gap;
      .sidebar-section-link-wrapper {
        .sidebar-section-link {
          &:hover,
          &:focus,
          &.active {
            background: transparent;
          }
          .sidebar-section-link-content-badge {
            font-size: 0.875rem;
          }
        }
      }
    }

    // Community
    .sidebar-section-community {
      .sidebar-section-header-wrapper {
        display: none;
      }
      .sidebar-more-section-links-details {
        @if ($sidebar_show_more == "false") {
          display: none;
        }
        &:hover {
          background: transparent;
        }
      }
      .sidebar-section-content {
        row-gap: $sidebar-section-gap;
      }
    }
    // Collapsables
    .sidebar-section-categories,
    .sidebar-section-tags {
      .sidebar-section-header-wrapper {
        .sidebar-section-header-text {
          display: inline-block;
        }
        &:before {
          width: 1em;
          height: 1em;
          margin-right: var(--d-sidebar-section-link-prefix-margin-right);
        }
      }
      .sidebar-section-content {
        margin-top: 1rem;
        margin-left: 2rem;
        .sidebar-row {
          font-size: 1.1rem;
        }
        .sidebar-section-link-prefix {
          &.icon .svg-icon {
            // scale submenu icons
            width: 0.8em;
            height: 0.8em;
          }

          .prefix-span {
            // scale submenu category bullets
            // border-radius: 50%;
            width: 10px;
            height: 10px;
            overflow: hidden;
          }
        }
      }
    }
    // Categories
    .sidebar-section-categories {
      @if ($show_categories == "false") {
        display: none;
      }
      .sidebar-section-header-wrapper {
        .sidebar-section-header-text {
        }
        &:before {
          content: url($icon-categories);
        }
      }
    }
    // Tags
    .sidebar-section-tags {
      @if ($show_tags == "false") {
        display: none;
      }
      .sidebar-section-header-wrapper {
        .sidebar-section-header-text {
        }
        &:before {
          content: url($icon-tags);
        }
      }
      .sidebar-section-message {
        display: none; // dont display the get started message for tags
      }
    }
    // Messages
    .sidebar-section-messages {
      .sidebar-section-header-wrapper {
        display: none;
      }
      .sidebar-section-link-wrapper:not(:first-of-type) {
        display: none; //only show Inbox link
      }
    }
  }
}
// Layout only
.sidebar-wrapper {
  background-color: var(--canvas);
  .sidebar-footer-wrapper {
    display: none;
  }
}
// Panel only
.sidebar-hamburger-dropdown {
  .sidebar-sections {
    .sidebar-section-content {
      padding-bottom: $sidebar-section-gap;
    }
  }
}
// Mobile only
.hamburger-panel .revamped {
  .sidebar-hamburger-dropdown {
    .sidebar-sections {
      row-gap: 0;
      .sidebar-section-content {
        padding-bottom: 0;
      }
    }
  }
}
