:root {
  --d-sidebar-section-link-prefix-margin-right: 0.85rem;
  --d-sidebar-section-header-text-font-size: 1.25rem;
  --d-sidebar-row-font-size: 1.25rem;
  --d-sidebar-section-link-prefix-width: 1.25rem;
  --d-sidebar-highlight-background: transparent;
  --d-sidebar-section-link-icon-size: 0.875rem;
}

// Common
.sidebar-sections {
  padding-top: 1.75rem;
  row-gap: $sidebar-section-gap;
}

.sidebar-section-wrapper .sidebar-section-header.sidebar-section-header-collapsable {
  color: var(--primary-high);
}

.sidebar-sections .sidebar-section-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  row-gap: $sidebar-section-content-gap;
}

// Community
#sidebar-section-content-community .sidebar-section-link-wrapper:last-of-type {
  @if ($sidebar_show_more == 'false') {
    display: none;
  }
}
#sidebar-section-content-community.sidebar-section-content {
  row-gap: $sidebar-section-gap;
}

// Categories and Tags
.sidebar-section[data-section-name='categories'],
.sidebar-section[data-section-name='tags'] {
  .sidebar-section-header:before {
    display: inline-block;
    width: var(--d-sidebar-section-link-icon-size);
    height: var(--d-sidebar-section-link-icon-size);
    margin-right: var(--d-sidebar-section-link-prefix-margin-right);
  }
  .sidebar-section-header-caret {
    display: none;
  }
  .sidebar-section-content {
    margin-top: 1rem;
    margin-left: 1.4rem;
    .sidebar-section-link-prefix {
      &.icon .svg-icon {
        // scale submenu icons
        width: var(--d-sidebar-section-link-icon-size);
        height: var(--d-sidebar-section-link-icon-size);
      }

      .prefix-span {
        // scale submenu category bullets
        // border-radius: 50%;
        width: 10px;
        height: 10px;
        overflow: hidden;
      }
    }
  }
}
// Categories only
.sidebar-section[data-section-name='categories'] {
  @if ($show_categories == 'false') {
    display: none;
  }
  .sidebar-section-header:before {
    content: url($icon-categories);
  }
}

// Tags only
.sidebar-section[data-section-name='tags'] {
  @if ($show_tags == 'false') {
    display: none;
  }
  .sidebar-section-header:before {
    content: url($icon-tags);
  }
}

// Messages
.sidebar-section[data-section-name='messages'] {
  .sidebar-section-header-wrapper {
    display: none;
  }
  .sidebar-section-link-wrapper:not(:first-of-type) {
    display: none; //only show Inbox link
  }
}

// Layout only
.sidebar-wrapper {
  background-color: var(--canvas);
  .sidebar-footer-wrapper {
    display: none;
  }
}

// Mobile only
.hamburger-panel .revamped {
  .sidebar-hamburger-dropdown {
    .sidebar-sections .sidebar-section-content {
      padding-bottom: 0;
    }
  }
  .sidebar-section-wrapper {
    margin-bottom: 0;
  }
}
