.btn-default#create-topic,
button.btn-primary.create,
#login-button,
#discourse-modal.create-account .btn-primary {
  @include primary-button;
  align-items: center;
  display: block;
}
.btn-default#create-topic {
  .d-icon {
    color: var(--secondary);
  }
}
