// Categories and Tags settings
.link-bottom-line {
  @if ($show_categories == 'false') {
    .badge-wrapper {
      display: none;
    }
  }
  @if ($show_tags == 'false') {
    .discourse-tags {
      display: none;
    }
  }
}
// Select-kit
.select-kit {
  // Adjust text-alignment in select-kit header
  .select-kit-header {
    .select-kit-selected-name {
      .badge-wrapper.bullet {
        align-items: center;
        .badge-category-bg {
          margin-right: 7px;
        }
      }
      .name {
        display: flex;
        align-items: center;
      }
    }
  }
}
