//Search

.floating-search-input-wrapper {
  margin: 0 2rem 0 $adjust-header-search; // adjust to align with the main content panel;
  width: 100%;
  max-width: 500px;
}
.d-header .floating-search-input {
  width: 100%;
  margin: 0;
}

.floating-search-input .search-banner-inner.wrap .search-menu .search-input {
  border: none;
  box-shadow: inset var(--shadow-header);
}
