.list-controls {
  .navigation-container {
    .category-breadcrumb {
      .category-drop {
        @if ($show_categories == "false") {
          display: none;
        }
      }
      .tag-drop {
        @if ($show_tags == "false") {
          display: none;
        }
      }
      .combo-box .combo-box-header {
        background: transparent;
        color: var(--primary-medium);
      }
    }
    #navigation-bar {
      li {
        background: transparent;
        color: var(--primary-medium);
      }
    }
  }
}
