@mixin primary-button() {
  background: var(--tertiary);
  color: var(--secondary);
  border-radius: $button-radius;
  padding: 0.65rem 1.2rem;
  span {
    margin-left: 0.25em;
  }
  &:hover,
  &:focus {
    background: var(--tertiary-hover);
  }
}
@mixin panel($padding) {
  background-color: var(--secondary);
  padding: $padding;
  border-radius: $main-radius;
  border: $main-border;
  box-shadow: var(--shadow);
}
