.navigation-container {
  --nav-space: 0;
}

$panel-padding: 2rem;
$panel-margin-list-pages: 2rem;
$panel-margin-static-pages: 1.5rem;

$sidebar-section-gap: 1.65rem;
$sidebar-section-content-gap: 0.75rem;

$main-radius: 12px;
$button-radius: 8px;
$main-border: 1px solid var(--primary-200);
